.container {
  max-width: auto;
  margin: 0 auto;
}

body {
  font-family: 'Baloo Chettan 2', cursive;
  background-color: #F1F1F1;
}
/* 
.picture img {
  max-width: 100%;
  margin: auto;
} */

.picture {
  justify-content: center;
}

hr {
  position: relative;
  top: 10px;
  border: none;
  height: 2px;
  background: black;
  margin-bottom: 20px;
}

h1, h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 35px;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

button {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #EB434F ;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: 'Baloo Chettan 2', cursive;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(26, 25, 25, 0.1);
}

button:hover {
  background-color: #21948C;
}