.container {
  max-width: 1700px;
  margin: 0 auto;
}

body {
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 35px;
  background-color: #EFEDED;
}

.picture img {
  max-width: 100%;
  margin: 25px 0px 0px 100px;
}

hr {
  position: relative;
  top: 10px;
  border: none;
  height: 2px;
  background: black;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 1rem;
}

button {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #e52647 ;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: 'Baloo Chettan 2', cursive;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(26, 25, 25, 0.1);
}